@use 'breakpoints' as *;
@use 'mixins' as *;

header {
    border-bottom: 1px solid #ccc;
    box-shadow: 0 0 8px #ccc;
    .inner-container {
        @include container;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    button {
        padding: 0.75px;
        background-color: #fff;
        border: none;
    }
    nav {
        flex: 0 0 100%;
        max-height: 0;
        overflow: hidden;
        transition: max-height linear 1s;
        a {
            display: block;
            padding: 0.25rem;
        }
        li {
            margin: 0.25rem 0;
        }
    }
    .show {
        max-height: 200px;
    }
}

@media screen and (min-width: $xsmall) {
    header {
        button {
            display: none;
        }
        nav {
            flex: 0 0 auto;
            max-height: unset;
            ul {
                display: flex;
                gap: 1rem;
            }
        }
    }
}