@use 'colours' as *;
@use 'breakpoints' as *;
@use 'mixins' as *;

header,
section {
    margin-bottom: 50px;
}

.grid-container {
    @include container;
    display: grid;
    gap: 1rem;
    align-items: start;
}

article {
    margin-bottom: 32px;
}

.popular-posts {
    h2 {
        margin-bottom: 1rem;
    }
    article {
        border: 1px solid $grey;
        border-radius: 5px;
        display: flex;
        gap: 1rem;
        div {
            padding: 1.5rem 1.5rem 0 1.5rem;
        }
        img {
            border-radius: 5px 0 0 5px;
        }
    }
}

@media screen and (min-width: $small) {
    .grid-container {
        grid-template-columns: repeat(12, 1fr);
         .recent-posts {
            grid-column: 1 / span 6;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
            h2,
            article:first-of-type {
                grid-column: 1 / -1;
            }
         }
         .popular-posts {
            grid-column: 7 / span 6;
            article {
                display: block;
            }
         }
         footer {
            grid-column: 1 / -1;
         }
    }
}

@media screen and (min-width: $med) {
    .grid-container {
        .recent-posts {
            grid-column: 1 / span 8;
         }
         .popular-posts {
            grid-column: 9 / span 4;
         }

    }
}

