p {
    margin-bottom: 32px;
    letter-spacing: 0.12rem;
    word-spacing: 0.16rem;
}

h1 {
    font-size: clamp(2.369rem, 1.9963rem + 1.8633vw, 4.209rem);
}

h2 {
    font-size: clamp(1.777rem, 1.4975rem + 1.3975vw, 3.157rem);
}

h3 {
    font-size: clamp(1.333rem, 1.1232rem + 1.0491vw, 2.369rem);
}